@model Project4Aptech.Models.Account

@{
    ViewBag.Title = "ChuyenTien";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var id = ViewBag.id;

}

<h2>MONEY TRANSFER</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        <input type="hidden" name="idSend" value="@id" class="form-control" />
        <div class="form-group">
            <label class="control-label col-md-2"> Transfer amount (Unit of Currency:VND) </label>
           
            <div class="col-md-10">

                <input type="text" name="money" class="form-control" min="10000" step="any" required id="money" autocomplete="off" />
                <strong style="color:red;" id="error">@ViewBag.statusBalance</strong>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">  Receiver account number </label>
            <div class="col-md-10">
                <input type="text" name="idReceiver" class="form-control" id="Receive" autocomplete="off" required />
                <span id="ReceiveName" style="color:red;">@ViewBag.Re</span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2"> Message </label>
            <div class="col-md-10">
                <input type="text" name="mess" class="form-control" autocomplete="off" value="@ViewBag.Mess" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">OTP (OTP will be sent to your email) </label>
            
            <div class="col-md-10">
                <input type="text" name="OTP" class="form-control" required /> <button type="button" class="btn btn-light" id="ResendOTP">Resend</button>
            </div>
            <strong style="color:red;">@ViewBag.statusOTP</strong>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" id="go" value="Go" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>


<script>
   
    $(document).ready(function () {
      
         $('#img').hide();
        $("#Receive").on('change', function () {
            var idRecive = $("#Receive").val()
            $.get("/Accounts/getCustomer/" + idRecive, function (data) {
                console.log(data);
                $("#ReceiveName").empty();
                $("#ReceiveName").append(data);
            });
        });
        $("#ResendOTP").click(function () {
            var email = '@ViewBag.email';
            if (email != null) {
                $.ajax({
                url: "/Accounts/ResendOTP",
                data: { mailAdress: email },
                type: "Get",
                success: function (html) {
                }
            });
            }

        });
        $("#money").on('input', function () {
            var money = $(this).val() ;
            var input = money.replaceAll('.','');
             console.log(input);
            if (isNaN(input)) {
                  $("#error").empty();
                $("#go").attr('disabled', 'true');
                $("#error").append("Chỉ được nhập số");
            } else {
                console.log(input);
                if (input < 10000) {
                     $("#error").empty();
                    $("#go").attr('disabled', 'true');
                    $("#error").append("Nhập tối thiểu 10,000 VND");

                }else {
                   $(this).val(new Number(input).toLocaleString("vi-VN"));
                    $("#go").removeAttr('disabled');
                    $("#error").empty();
                }
            }
        });
    });
</script>
