@model Project4Aptech.Models.Customers

@{
    ViewBag.Title = "AddBalance";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    var id = ViewBag.id;
}

<h2>Chuyển tiền</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        
        <hr />
        <div class="form-group">
            <label class="control-label col-md-2"> Nhập số tiền cần chuyển: </label>
            <div class="col-md-10">
                <input type="text" name="money" class="form-control" min="10000" step="any" required id="money" autocomplete="off" />
                <strong style="color:red;" id="error">@ViewBag.statusBalance</strong>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">  Nhập STK gửi(* nếu có): </label>
            <div class="col-md-10">
                <input type="number" name="idSend" class="form-control" id="Send" autocomplete="off" style=" -moz-appearance: textfield;" value="@ViewBag.idSend" />
                <span id="SendName" style="color:red;">@ViewBag.Error</span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">  Nhập STK thụ hưởng: </label>
            <div class="col-md-10">
                <input type="number" name="idReceiver" class="form-control" id="Receive" autocomplete="off" required style=" -moz-appearance: textfield;" value="@ViewBag.idReceiver" />
                <span id="ReceiveName" style="color:red;">@ViewBag.Error1</span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2"> Nhập nội dung: </label>
            <div class="col-md-10">
                <input type="text" name="mess" class="form-control" autocomplete="off" value="@ViewBag.Mess" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" id="go" value="Chuyển Tiền" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<script>
    $("#Receive").on('change', function () {
        var idRecive = $("#Receive").val()

        $.get("/Accounts/getCustomer/" + idRecive, function (data) {
             $("#ReceiveName").empty();
            $("#ReceiveName").append(data);
        });
    });
    $("#Send").on('change', function () {
        var idSend = $("#Send").val()
        $.get("/Accounts/getCustomer/" + idSend, function (data) {
            $("#SendName").empty();
            $("#SendName").append(data);
        });
    });
   
   $("#money").on('input', function () {
            var money = $(this).val() ;
            var input = money.replaceAll('.','');
             console.log(input);
            if (isNaN(input)) {
                  $("#error").empty();
                $("#go").attr('disabled', 'true');
                $("#error").append("Chỉ được nhập số");
            } else {
                console.log(input);
                if (input < 10000) {
                     $("#error").empty();
                    $("#go").attr('disabled', 'true');
                    $("#error").append("Nhập tối thiểu 10,000 VND");

                }else {
                   $(this).val(new Number(input).toLocaleString("vi-VN"));
                    $("#go").removeAttr('disabled');
                    $("#error").empty();
                }
            }
        });

</script>